@model MiluTienda.Models.Pedido

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles Pedido #@Model.Id</h1>

<div class="row">
    <!-- Columna para datos del Pedido -->
    <div class="col-md-6">
        <h4>Pedido</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.FechaCreacion)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Confirmado)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Confirmado)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Preparado)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Preparado)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Enviado)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Enviado)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Cobrado)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Cobrado)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Devuelto)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Devuelto)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Anulado)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Anulado)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Estado.Descripcion)
            </dd>
        </dl>
    </div>

    <!-- Columna para datos del Cliente -->
    <div class="col-md-6">
        <h4>Cliente</h4>
        <hr />
        @if (Model.Cliente != null)
        {
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Cliente.Nombre)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Cliente.Nombre)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Cliente.Email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Cliente.Email)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Cliente.Telefono)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Cliente.Telefono)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Cliente.Direccion)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Cliente.Direccion)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Cliente.Poblacion)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Cliente.Poblacion)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Cliente.CodPostal)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Cliente.CodPostal)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Cliente.Nif)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Cliente.Nif)
                </dd>
            </dl>
        }
        else
        {
            <p>No se encontraron datos del cliente.</p>
        }
    </div>
</div>

<!-- Tabla de líneas de pedido -->
<div class="mt-4">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Imagen</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var linea in Model.LineasPedido)
            {
                <tr>
                    <td>@linea.Producto.Descripcion</td>
                    @if (@linea.Producto.Imagen == null)
                    {
                        <td>
                            <img src="~/imagenes/productos/no-imagen.jpg" alt="Alternate Text" style="width:50px; height:50px;" />
                        </td>
                    }
                    else
                    {
                        <td>
                            <img src="~/imagenes/productos/@linea.Producto.Imagen" alt="Alternate Text" style="width:50px; height:50px;" />
                        </td>
                    }
                    <td>@linea.Cantidad</td>
                    <td>@linea.Precio€</td>
                    <td>@(linea.Precio * linea.Cantidad)€</td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>
