@model MiluTienda.Models.Pedido

@{
    ViewData["Title"] = "Details";
}

<h1>Carrito</h1>

<div>
    <div class="row">
        <!-- Columna Izquierda: Información del Pedido -->
        <div class="col-md-6">
            <h4>Pedido</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-8">
                    @Model.Id
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaCreacion)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaCreacion)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Estado)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Estado.Descripcion)
                </dd>
            </dl>
        </div>

        <!-- Columna Derecha: Información del Cliente -->
        <div class="col-md-6">
            <h4>Datos del Cliente</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    Nombre
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Cliente.Nombre)
                </dd>
                <dt class="col-sm-4">
                    Email
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Cliente.Email)
                </dd>

                <dt class="col-sm-4">
                    Teléfono
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Cliente.Telefono)
                </dd>

                <dt class="col-sm-4">
                    Dirección
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Cliente.Direccion)
                </dd>
            </dl>
        </div>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id Producto</th>
            <th>Descripción del Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LineasPedido)
        {
            <tr>
                <td>@item.ProductoId</td>
                <td>@item.Producto.Descripcion</td>
                <td>
                    <!-- Botones para ajustar la cantidad -->
                    <a asp-action="RestarCantidad" asp-controller="Carrito" asp-route-id="@item.Id" class="btn btn-primary btn-sm">-</a>
                    <span>@item.Cantidad</span>
                    <a asp-action="AumentarCantidad" asp-controller="Carrito" asp-route-id="@item.Id" class="btn btn-primary btn-sm">+</a>
                </td>
                <td>@item.Precio€</td>
                @{
                    var total = @item.Precio * @item.Cantidad;
                }
                <td>@total€</td>
                <td>
                    <!-- Botón para eliminar el producto -->
                    <form asp-action="EliminarProducto" method="post">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Total general -->
<div>
    <strong>Total Pedido: </strong> @(Model.LineasPedido.Sum(x => x.Precio * x.Cantidad))
</div>
<div>
    <form asp-action="ConfirmarPedido" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" class="btn btn-success">Confirmar Pedido</button>
    </form>
</div>

<div>
    <a asp-action="Index" asp-controller="Escaparate">Volver al Escaparate</a>
</div>