<form method="get">
    <div class="row g-2 mb-2">
        <!-- Filtro por Nombre -->
        <div class="form-group col-md-6">
            <input type="text" name="Nombre" class="form-control" value="@ViewData["Nombre"]" placeholder="Nombre"/>
        </div>

        <!-- Filtro por Categoría -->
        <div class="form-group col-md-6">
            <select name="CategoriaId" class="form-control">
                @* Asigna el valor de la categoría seleccionada o 0 si no hay categoría seleccionada *@
                @{
                    var selectedCategoryId = ViewData["CategoriaId"] as int? ?? 0;
                }

                <!-- Opción "Todas las Categorías" -->
                <option value="@(selectedCategoryId == 0 ? "selected" : "")">Todas las categorias</option>

                <!-- Otras categorías -->
                @foreach (var categoria in ViewData["Categorias"] as List<MiluTienda.Models.Categoria>)
                {
                    var isSelected = selectedCategoryId == categoria.Id ? "selected" : "";
                    @Html.Raw($"<option value=\"{categoria.Id}\"{isSelected}>{categoria.Descripcion}</option>");
 
                }
            </select>
            
        </div>

        <!-- Filtro por Precio -->
        <div class="form-group col-md-6">
            <input type="text" name="PrecioMin" class="form-control" value="@ViewData["PrecioMin"]" placeholder="Precio Mínimo"/>
        </div>

        <div class="form-group col-md-6">
            <input type="text" name="PrecioMax" class="form-control" value="@ViewData["PrecioMax"]" placeholder="Precio Maximo"/>
        </div>
    </div>


    <!-- Botón de búsqueda -->
    <button type="submit" class="btn btn-custom-inverse">Buscar</button>

</form>

<!-- Mostrar productos -->
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Marca</th>
            <th>Escaparate</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.Precio</td>
                <td>@item.Stock</td>
                <td>@item.Marca</td>
                <td>@item.Escaparate</td>
                <td>@item.Categoria.Descripcion</td>
                
                <td>
                    <div class="btn-group" role="group">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info"><i class="bi bi-info-circle"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash3-fill"></i></a>
                        <a asp-action="CambiarImagen" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary"><i class="bi bi-file-image-fill"></i></a>
                    </div>
                </td>

                
            </tr>
        }
    </tbody>
</table>

<!-- Paginación -->
<div>
    <span>Página @Model.PageIndex de @Model.TotalPages</span>
</div>

<div>
    @if (Model.HasPreviousPage)
    {
        <a asp-action="Index" asp-route-page="1" class="btn btn-custom-inverse">Primera</a>
        <a asp-action="Index" asp-route-page="@((Model.PageIndex - 1))" class="btn btn-custom-inverse">Anterior</a>
    }
</div>

<div>
    @if (Model.HasNextPage)
    {
        <a asp-action="Index" asp-route-page="@((Model.PageIndex + 1))" class="btn btn-custom-inverse">Siguiente</a>
        <a asp-action="Index" asp-route-page="@Model.TotalPages" class="btn btn-custom-inverse">Última</a>
    }
</div>
