<form method="get">
    <!-- Filtro por Nombre -->
    <div class="form-group">
        <label for="Nombre">Nombre</label>
        <input type="text" name="Nombre" class="form-control" value="@ViewData["Nombre"]" />
    </div>

    <!-- Filtro por Categoría -->
    <div class="form-group">
        <label for="CategoriaId">Categoría</label>
        <select name="CategoriaId" class="form-control">
            @* Asigna el valor de la categoría seleccionada o 0 si no hay categoría seleccionada *@
            @{
                var selectedCategoryId = ViewData["CategoriaId"] as int? ?? 0;
            }

            <!-- Opción "Todas las Categorías" -->
            <option value="@(selectedCategoryId == 0 ? "selected" : "")">Todas las categorias</option>

            <!-- Otras categorías -->
            @foreach (var categoria in ViewData["Categorias"] as List<MiluTienda.Models.Categoria>)
            {
                var isSelected = selectedCategoryId == categoria.Id ? "selected" : "";
                @Html.Raw($"<option value=\"{categoria.Id}\"{isSelected}>{categoria.Descripcion}</option>");
 
            }
        </select>
            
    </div>

    <!-- Filtro por Precio -->
    <div class="form-group">
        <label for="PrecioMin">Precio Mínimo</label>
        <input type="text" name="PrecioMin" class="form-control" value="@ViewData["PrecioMin"]" />
    </div>

    <div class="form-group">
        <label for="PrecioMax">Precio Máximo</label>
        <input type="text" name="PrecioMax" class="form-control" value="@ViewData["PrecioMax"]" />
    </div>

    <!-- Botón de búsqueda -->
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

<!-- Mostrar productos -->
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Marca</th>
            <th>Escaparate</th>
            <th>Categoría</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.Precio</td>
                <td>@item.Stock</td>
                <td>@item.Marca</td>
                <td>@item.Escaparate</td>
                <td>@item.Categoria.Descripcion</td>
            </tr>
        }
    </tbody>
</table>

<!-- Paginación -->
<div>
    <span>Página @Model.PageIndex de @Model.TotalPages</span>
</div>

<div>
    @if (Model.HasPreviousPage)
    {
        <a asp-action="Index" asp-route-page="1" class="btn btn-primary">Primera</a>
        <a asp-action="Index" asp-route-page="@((Model.PageIndex - 1))" class="btn btn-primary">Anterior</a>
    }
</div>

<div>
    @if (Model.HasNextPage)
    {
        <a asp-action="Index" asp-route-page="@((Model.PageIndex + 1))" class="btn btn-primary">Siguiente</a>
        <a asp-action="Index" asp-route-page="@Model.TotalPages" class="btn btn-primary">Última</a>
    }
</div>
