@model PaginatedList<MiluTienda.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Precio)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Stock)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Escaparate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Categoria)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Escaparate)
            </td>
            <td>
                    @{
                        var nombreImagen = "no-imagen.jpg";
                        if (item.Imagen != null)
                        {
                            nombreImagen = item.Imagen;
                        }
                    }
                    <img src="~/imagenes/productos/@nombreImagen" class="rounded-circle" height="50" width="50" asp-append-version="true" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="CambiarImagen" asp-route-id="@item.Id">Cambiar Imagen</a>
            </td>
        </tr>
}
    </tbody>
</table>

<!-- Paginación -->
<div>
    <span>Página @Model.PageIndex de @Model.TotalPages</span>
</div>

<div>
    @if (Model.HasPreviousPage)
    {
        <a asp-action="Index" asp-route-page="1" class="btn btn-primary">Primera</a>
        <a asp-action="Index" asp-route-page="@((Model.PageIndex - 1))" class="btn btn-primary">Anterior</a>
    }
</div>

<div>
    @if (Model.HasNextPage)
    {
        <a asp-action="Index" asp-route-page="@((Model.PageIndex + 1))" class="btn btn-primary">Siguiente</a>
        <a asp-action="Index" asp-route-page="@Model.TotalPages" class="btn btn-primary">Última</a>
    }
</div>