@model MiluTienda.Models.Variante

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Variante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Atributo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Atributo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreVariante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreVariante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioVariante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioVariante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioCadena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioCadena)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a variantes</a>
        <a asp-controller="Productos" asp-action="Details" asp-route-id="@Model?.ProductoId">Volver a Producto</a>
    </form>
</div>
