@model PaginatedList<MiluTienda.Models.Categoria>

<h1>Categorías</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Descripcion)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Paginación -->
<div>
    <span>Página @Model.PageIndex de @Model.TotalPages</span>
</div>

<div class="d-flex justify-content-between">
    <div>
        @if (Model.HasPreviousPage)
        {
            <a asp-action="Index" asp-route-page="1" class="btn btn-primary">Primera</a>
            <a asp-action="Index" asp-route-page="@((Model.PageIndex - 1))" class="btn btn-primary">Anterior</a>
        }
    </div>
    <div>
        <span>Página @Model.PageIndex de @Model.TotalPages</span>
    </div>
    <div>
        @if (Model.HasNextPage)
        {
            <a asp-action="Index" asp-route-page="@((Model.PageIndex + 1))" class="btn btn-primary">Siguiente</a>
            <a asp-action="Index" asp-route-page="@Model.TotalPages" class="btn btn-primary">Última</a>
        }
    </div>
</div>
