@model IEnumerable<MiluTienda.Models.Producto>

@{
    ViewData["Title"] = "Escaparate";
}

<h1>Escaparate</h1>

<!-- Mostrar enlaces de categorías -->
<div>
    <h4>Categorías</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre de la Categoría</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categoria in ViewData["Categorias"] as List<MiluTienda.Models.Categoria>)
            {
                <tr>
                    <td>
                        <a asp-action="Index" asp-route-id="@categoria.Id">@categoria.Descripcion</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Mostrar productos en el escaparate -->
<div>
    <h4>Productos</h4>
    <div class="container">
        <div class="row">

        
        @foreach (var producto in Model) {
            <div class="col-md-3 mb-4">
                <div class="card">
                    @{
                        var nombreImagen = "no-imagen.jpg";
                        if (producto.Imagen != null)
                        {
                            nombreImagen = producto.Imagen;
                        }
                    }
                    <img src="~/imagenes/productos/@nombreImagen" asp-append-version="true" />
                    <div class="card-body">
                        <p class="card-text">@producto.Nombre</p>
                        <h5 class="card-title">@producto.Precio.ToString("C")</h5>
                        <a asp-action="AgregarCarrito" asp-route-id="@producto.Id" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        }
        </div>

    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="null">Mostrar Todos los Productos del Escaparate</a>
</div>