@model MiluTienda.Models.Clientes

@{
    ViewData["Title"] = "Mis Datos";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <h4>Detalles del Usuario</h4>
        <hr />
        <dl class="row">
            <!-- Nombre -->
            <dt class="col-sm-4">Nombre:</dt>
            <dd class="col-sm-8">@Model.Nombre</dd>

            <!-- Email -->
            <dt class="col-sm-4">Correo Electrónico:</dt>
            <dd class="col-sm-8">@Model.Email</dd>

            <!-- Teléfono -->
            <dt class="col-sm-4">Teléfono:</dt>
            <dd class="col-sm-8">@Model.Telefono</dd>

            <!-- Dirección -->
            <dt class="col-sm-4">Dirección:</dt>
            <dd class="col-sm-8">@Model.Direccion</dd>

            <!-- Población -->
            <dt class="col-sm-4">Población:</dt>
            <dd class="col-sm-8">@Model.Poblacion</dd>

            <!-- Código Postal -->
            <dt class="col-sm-4">Código Postal:</dt>
            <dd class="col-sm-8">@Model.CodPostal</dd>

            <!-- NIF -->
            <dt class="col-sm-4">NIF:</dt>
            <dd class="col-sm-8">@Model.Nif</dd>
        </dl>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Logout" asp-controller="Account" class="btn btn-secondary">Cerrar sesión</a>
</div>